---
layout: default
title: lrm29 Web Page | Blog - Sort By Category
---

  <h3>Blog Posts</h3>
  
  Sort by: &nbsp; <a href="/blog.html">Date</a> &nbsp; | &nbsp; <a href="/blog_tagSort.html">Category</a><br>
<hr>

  {% for categories in site.categories %}
  <h3 id="{{ categories[0] }}" class="vlist">{{ categories[0] }}</h3>
  <ul>
    {% for post in categories[1] %}
      <li style="list-style-type: none; padding: 2px">
        <span>{{ post.date | date:"%d %b %Y" }}</span> &nbsp;
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endfor %}
    
    <br>

