<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <title>{{ page.title }}</title>
   <meta name="author" content="Laurence R. McGlashan">

   <!-- CSS -->
   <link rel="stylesheet" href="/css/general.css" type="text/css">
   <link rel="stylesheet" href="/css/pygments_style.css">


</head>

<body>

    <table class="title">
        <tr>
            <td>Laurence R. McGlashan | </td> 
            <td id="updateTime">Last updated on {{ site.time }}.</td>
        </tr>
    </table>
        
    <div id="menu">
	    <ul id="nav">
		    <li><a href="http://lrm29.github.com/index.html">home</a></li>
		    <li><a href="http://lrm29.github.com/blog.html">blog</a></li>
		    <li><a href="http://lrm29.github.com/work.html">work</a></li>
		    <li><a href="http://lrm29.github.com/teaching.html">teaching</a></li>
		    <li><a href="http://lrm29.github.com/cv.html">curriculum vitae</a></li>
		    <li><a href="http://lrm29.github.com/contact.html">contact</a></li>
	    </ul>
    </div>
  
    <div id="content" class="defaultText">
   
        {{ content }}
  
    </div>
  
    <div class="footer">

        <table>
            <tr>
                <td>
                       &copy; 2010 Laurence R. McGlashan <br>
	                    <a href="mailto:lrm29@cam.ac.uk.delete_this_bit">E-Mail</a> 
                       - 
                       <a href="http://como.cheng.cam.ac.uk/index.php?Page=People&amp;Section=lrm29">Work Homepage</a> 
                </td>
                <td>
                    <a href="http://validator.w3.org/check?uri=referer"><img
                        style="border:0;width:88px;height:31px"
                        src="http://www.w3.org/Icons/valid-html401"
                        alt="Valid HTML 4.01 Strict"></a>
                    <a style="float: right;" href="http://jigsaw.w3.org/css-validator/check/referer">
                        <img style="border:0;width:88px;height:31px"
                            src="http://jigsaw.w3.org/css-validator/images/vcss"
                            alt="Valid CSS!">
                    </a>
                </td>
            </tr>
        </table>

    </div>

    <p>
        <a href="http://github.com/lrm29">
            <img style="position: absolute; top: 0; right: 0; border: 0;" 
                 src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" 
                 alt="Fork me on GitHub">
        </a>
    </p>

</body>

</html>


